.info-before::before {
  position               : absolute;
  content                : '';
  height                 : 20px;
  top                    : -15px;
  right                  : 0;
  left                   : 0;
  background-color       : #fff;
  border-top-left-radius : 10px;
  border-top-right-radius: 10px;
}
.info-before::after {
  content                  : '';
  position                 : absolute;
  left                     : 0;
  right                    : 0;
  bottom                   : -15px;
  border-bottom            : 16px solid transparent;
  border-left              : 210px solid white;
  border-bottom-left-radius: 10px
}
.book-mentor::after {
  content                  : '';
  position                 : absolute;
  left                     : 0;
  right                    : 0;
  bottom                   : -15px;
  border-bottom            : 16px solid transparent;
  border-left              : 227px solid white;
  border-bottom-left-radius: 10px
}
.book-mentor::before {
  position               : absolute;
  content                : '';
  height                 : 20px;
  top                    : -15px;
  right                  : 0;
  left                   : 0;
  background-color       : #fff;
  border-top-left-radius : 10px;
  border-top-right-radius: 10px;
}

.detail-mentor::after {
  content                  : '';
  position                 : absolute;
  left                     : 0;
  right                    : 0;
  bottom                   : -13px;
  border-bottom            : 14px solid transparent;
  border-left              : 313px solid white;
  border-bottom-left-radius: 10px
}

.box-shadow--bottom {
  box-shadow: 0px 26px 25px -10px #ccdefc !important;
}

.show-active::before {
  background-color: #0d7dfc !important;
  border-radius: 100%;
}

.active--link {
  color        : #3C6AF3 !important;
  border-bottom: 3px solid #3C6AF3;
}

.width-input-register {
  width: calc(100% - 49px);
}
.width-input-register-date {
  width: calc(100% - 18px);
}

.bg-transparents {
  background-color: rgba(0, 0, 0, 0.6);
}

.scrollbar-custom {
  &::-webkit-scrollbar {
    width: 5px;
  }

  &::-webkit-scrollbar-track {
    background: #f5faff;
    border-radius: 5px;
  }

  &::-webkit-scrollbar-thumb {
    background: #ebebf2;
    border-radius: 5px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: #f5faff;
  }
}

.hidden-3dots {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}

/* Pagination */
.pagination {
  display        : flex;
  justify-content: center;
}

.pagination ul {
  /* max-width: 50%; */
  display   : flex;
  flex-wrap : wrap;
  background: #fff;
  padding   : 8px;
}

.pagination ul li {
  color        : #000;
  list-style   : none;
  line-height  : 35px;
  text-align   : center;
  font-size    : 15px;
  font-weight  : 500;
  cursor       : pointer;
  user-select  : none;
  transition   : all 0.3s ease;
  border-radius: 50%;
}

.pagination ul li.numb {
  list-style   : none;
  height       : 36px;
  width        : 36px;
  margin       : 0 3px;
  line-height  : 36px;
  border-radius: 6px;
  border       : 1px solid #dfe3e8;
  border-radius: 50%;
}

.pagination ul li.numb.first {
  margin: 0px 3px 0 -5px;
}

.pagination ul li.numb.last {
  margin: 0px -5px 0 3px;
}

.pagination ul li.dots {
  font-size: 22px;
  cursor   : default;
}

.pagination ul li.btn {
  padding         : 0 12px;
  border          : 1px solid #dfe3e8;
  /* border-radius: 6px; */
}

.pagination ul li.btn.prev {
  margin-right: 0.5rem;
}

.pagination ul li.btn.next {
  margin-left: 0.5rem;
}

.pagination li.active,
.pagination ul li.numb:hover,
.pagination ul li:first-child:hover,
.pagination ul li:last-child:hover {
  color     : #fff;
  background: #0d7dfc;
}

@media (max-width: 720px) {
  .book-mentor::after {
    border-left              : 180px solid white;
  }
  .info-before::after {
    border-left              : 180px solid white;
  }
  .detail-mentor::after {
    border-left              : 180px solid white;
  }
}

@media (min-width: 1024px) {
  .book-mentor::after {
    border-left              : 131px solid white;
  }
  .info-before::after {
    border-left              : 131px solid white;
  }
  .detail-mentor::after {
    border-left              : 184px solid white;
  }
}

@media (min-width: 1080px) {
  .book-mentor::after {
    border-left              : 178px solid white;
  }
  .info-before::after {
    border-left              : 178px solid white;
  }
  .detail-mentor::after {
    border-left              : 245px solid white;
  }
}

@media (min-width: 1440px) {
  .book-mentor::after {
    border-left              : 228px solid white;
  }
  .info-before::after {
    border-left              : 228px solid white;
  }
  .detail-mentor::after {
    bottom                   : -12px;
    border-left              : 314px solid white;
  }
}